$primary: #fa334a;
$secondary: #2c2962;

@import '~bootstrap/scss/functions.scss';
@import '~bootstrap/scss/variables.scss';
@import '~bootstrap/scss/mixins.scss';
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap-vue/src/index.scss';


$primary: #fa334a;
$secondary: #2c2962;



